# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# SQLite / local DB
*.db
*.sqlite3

# Docker
docker-compose.override.yml
*.docker

# Environment variables
.env

# PyCharm
.idea/

# Temporary files
*.swp
*.swo